.phone
  .top
    .camera
  .screen
    .pages
      .page.page1
        h3 Sky
        h4 天空
        .cloud.cloud1
        .cloud.cloud2
        .cloud.cloud3
      .page.page2
        h3 page2
        p 天空是大氣層或太空可被天體表面的觀測者看到的部分。在地球，晴朗的日間，天空是藍色的。在日出和日落時，天空偏紅色。對晴朗天空的能見度一般用視覺深度這個術語來描述。
      .page.page3
        h3 page3
        p 人可以在天空觀測氣象或天文現象，從而得知天氣變化、時間的流易或自己的方位。日出日落可知一日中的時間，晚上月亮的盈虧可以知道大概一個月的時間。北斗星可以指示北方。雲的厚度和形狀可以知道會否下雨。在天空可以欣賞到許多美麗的現象，如彩虹、極光和流星雨等。雀鳥會在天空飛翔。
  .bottom
    .button □
h3.text This is best phone,you can have it
h2.phonename itone5
.buttons
  button.i5 itone5
  button.i6 itone6
  button.i7 itone7
  button.wiggle 搖晃
  button.turn 翻轉